@media (max-width: 1465px) {
    .app {
        .bg-decoration {
            display: none;    
        }
    }
}

@media (max-width: 1199px) {
    .app {
        width: 960px;
    }
    .char {
        &__content {
            grid-template-columns: 610px 350px;
            gap: 5px;
        }
        &__grid {
            gap: 5px;
        }
    }
}

@media (max-width: 991px) {
    .app {
        width: 720px;
    }
    .char {
        &__content {
            grid-template-columns: 420px 310px;
            gap: 5px;
        }
        &__grid {
            grid-template-columns: repeat(2, 200px);
        }
        &__comics {
            &-item {
                font-size: 14px;
            }
        }
    }
    .randomchar {
        display: block;
        &__img {
            width: 300px;
            height: 300px;
        }
        &__info {
            grid-template-rows: minmax(29px, auto) 200px 38px;
        }
        &__block {
            padding: 10px;
            grid-template-columns: 300px auto;
        } 
        &__static {
            padding: 10px;
        }
        &__title {
            font-size: 16px;
        }
        &__descr {
            width: 100%;
        }
    }
    .spinner {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 767px) {
    .app {
        width: 540px;
    }
    .randomchar {
        &__img {
            width: 180px;
            height: 180px;
        }
        &__info {
            grid-template-rows: minmax(29px, auto) 90px 38px;
        }
        &__block {
            padding: 10px;
            grid-template-columns: 180px auto;
        }
    }
    .char {
        &__content {
            grid-template-columns: 1fr 310px;
        }
        &__grid {
            grid-template-columns: 200px;
        }
    }
    .spinner {
        width: 180px;
        height: 180px;
    }
}